.desc{
    padding: 1rem;
    padding-bottom: 2rem;
}
.title{
    margin:5rem 1rem 1rem 1rem;
    font-size: x-large;
}
.text--sm{
    font-size: small;
}
.mt-1{
    margin-top: 0.5rem ;
}
.btn--badge{
    position: absolute;
    top:-1.2rem;
    right:-1.3rem;
}
.text--smr{
    font-size: x-small;
}
.parent-rel{
    position: relative;
}
.btn--green{
    background-color: var(--light-green-color);
    border-radius: 10rem;
    padding:0.15rem 0.5rem;
}
.btn-oval{
    padding:1rem 1.5rem;
}
.mt-6{
    margin-top: 6rem;
}
.google-logo{
    width:6rem;
    height:2rem;
}
.disney_logo{
    width: 6rem;
    height: 3rem;
}
.hubspot-logo{
    width: 6.5rem;
    height: 3.5rem;
}
.shopify-logo{
    width:6rem;
    height: 3rem;
}
.slack-logo{
    width:7rem;
    height: 4rem;

}
.youtube-logo{
    width: 7rem;
    height: 4rem;
}
.companies{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
}
.text-bold{
    font-weight: bold;
}
.text-xsm {
    font-size: x-small;
}