.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.nav-option {
  display: inline-block;
  margin: auto 0.7rem;
  font-size: medium;
}

.btn--purple {
  background-color: var(--purple-color);
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: white;
}
.text--purple {
  color: var(--purple-color);
}
.text-gray {
  color: var(--gray-color);
}

@media only screen and (max-width: 850px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-option {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .btn--purple {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    color: white;
  }
}
